POSTGRES_PORT=5432
POSTGRES_READER_PORT=5434
POSTGRES_DB=appdb
POSTGRES_USER=app
POSTGRES_PASSWORD=app-local-password
REDIS_PORT=6379
KAFKA_PORT=9092
ELASTICSEARCH_PORT=9200
KEYCLOAK_PORT=8180
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=7d
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=grafana-local-password
